* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

input{
    color: azure;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    max-height: 100vh;
    flex: 1 1 auto;  
    padding: 0px;
    margin: 0px;
    background-color: rgb(43, 43, 43);
    color: azure;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex: 1 1 auto;  
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 10vh;
    flex: 0 1 auto; 
    font-size: 30px;
}


.title p {
    margin: 0px 0px 0px 0px;
}

.title h1 {
    margin: 0px 0px 0px 0px;
}

.game {
    display: flex;
    min-height: 80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgb(66, 66, 66);
    border-radius: 30px;
    flex: 1;
    box-shadow: 3px 3px black ;
    
}

.ctrl.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    gap: 10px;
    margin: 0px 0px 0px 0px;
}

.ctrl.btn p{
    margin: 0px 0px 0px 0px;
}

#size {
    width: 80px;
    height: 35px;
    color: black;
}

#clr {
    width: 80px;
    height: 35px;
}

.gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 66, 66);
    height: 65vh;
    width: 65vh;
    border-radius: 30px;
    padding: 20px;
    flex: 0 0 1;
    box-shadow: 3px 3px black ;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex: 1 1 0;
    padding: 4px;
    gap:0px;
}

.btn , .controlTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 19, 19);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px black ;
    margin: 0px;
    width: 100px;
    height: 35px;
    font-size: 15px;
}

.btn:hover {
    transform: scale(1.1);
}

.square {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(78,78,78,0.5) 4%, rgba(255,255,255,0) 100%);
}